/* FONTS IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* FONTS IMPORTS */

/* CSS IMPORT */
@import url(assets/css/login.css);
/* CSS IMPORT */

*{
    margin: 0px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}