.big-white-normal{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.big-asap-normal{
    color: #FFFFFF;
    font-family: 'Asap', sans-serif;
    font-size: 40px;
}

.medium-asap-normal{
    color: #FFFFFF;
    font-family: 'Asap', sans-serif;
    font-size: 25px;
}

.big-black-normal{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.medium-white-normal{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.small-white-normal{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.more-small-black-normal{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.small-gray-normal{
    color: #dbdbdb;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    opacity: 50%;
}