.footer{
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container{
    padding: 20px;
}

.ispace{
    margin-left: -420px;
}

.a-footer{
    color: black;
}