/* Estilo para o modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
  }

  .modal-container label{
    color: black;
  }
  
  .modal-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-container form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .modal-container form input[type="number"],
  .modal-container form input[type="text"],
  .modal-container form input[type="email"] {
    width: 390px !important;
    padding: 10px !important;
    margin-bottom: 15px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 16px !important;
  }
  
  .modal-container form button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-container form button.cancelar-btn {
    background-color: #ccc;
  }
  
  .modal-container form button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para o botão de fechar o modal */
  .modal-container button.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
  }

.ramal-princ{
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.ramal-card-container{
    text-align: center;
}

.ramal-top{
    padding: 10px;
    width: 300px;
    background-color: #00AE9D;
    border-radius: 10px 10px 0px 0px;
}

.ramal-n{
    margin: 20px 0px 0px 0px;
    padding: 10px;
}

.ramal-bottom{
    padding: 1px;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
}

.ramal-email{
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    padding: 10px;
    margin-bottom: -15px;
}

.ramal-telefone{
    margin-top: 15px;
    margin-bottom: 30px;
}

.ramais-search-container{
    margin-top: 50px;
    text-align: center;
}

.ramais-search{
    margin-top: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 0px 20px 20px 0px;
    width: 500px;
    height: 40px;
}

.ramais-search:focus{
    outline: 0;
}

.ramal-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.ramal-button-edit, .ramal-button-remove{
    border: 0px;
    padding: 10px 40px;
    border-radius: 5px;
    width: 290px;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
    transition: .4s;
}

.ramal-button-edit:hover{
    background-color: rgb(0, 101, 168);
}

.ramal-button-remove{
    background-color: red;
}

.ramal-button-remove:hover{
    background-color: rgb(151, 0, 0);
}

.remove-btn{
    color: #ffffff;
}

.cad-user{
    color: white;
    padding: 10px;
}

.cad-btn{
    background-color: rgb(0, 153, 255);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}

.cad-btn:hover{
    background-color: rgb(0, 116, 194);
}

.ramal-options{
    margin-top: 10px;
    border: 0px;
    border-radius: 20px 0px 0px 20px;
    width: 175px;
    height: 60px;
    margin-right: -3px;
}

.ramal-options:focus{
    outline: 0;
}