.ramal-princ{
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.ramal-card-container{
    text-align: center;
}

.ramal-top{
    padding: 10px;
    width: 300px;
    background-color: #00AE9D;
    border-radius: 10px 10px 0px 0px;
}

.ramal-n{
    margin: 20px 0px 0px 0px;
    padding: 10px;
}

.ramal-bottom{
    padding: 1px;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
}

.ramal-email{
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    padding: 10px;
    margin-bottom: -15px;
}

.ramal-telefone{
    margin-top: 15px;
    margin-bottom: 30px;
}

.ramais-search-container{
    margin-top: 50px;
    text-align: center;
}

.ramais-search{
    margin-top: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 20px;
    width: 500px;
    height: 40px;
}

.ramais-search:focus{
    outline: 0;
}

.ramal-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.ramal-button-edit, .ramal-button-remove{
    border: 0px;
    padding: 10px 40px;
    border-radius: 5px;
    width: 290px;
    background-color: rgb(0, 153, 255);
    cursor: pointer;
    transition: .4s;
}

.ramal-button-edit:hover{
    background-color: rgb(0, 101, 168);
}

.ramal-button-remove{
    background-color: red;
}

.ramal-button-remove:hover{
    background-color: rgb(151, 0, 0);
}

.remove-btn{
    color: #ffffff;
}

.cad-user{
    color: white;
    padding: 10px;
}

.cad-btn{
    background-color: rgb(0, 153, 255);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
}

.cad-btn:hover{
    background-color: rgb(0, 116, 194);
}